.change {
    color: gray;
    font-weight: 600;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.change:hover {
    color: blue;
}

.summary>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary>hr {
    margin: 20px 0px;
}

.total {
    margin-top: 50px;
}

.total>h2 {
    color: blue;
}

.sum-text {
    color: gray;
}